name: ts

on:
  push:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml
  pull_request:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - .github/workflows/ts.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm test
      - run: pnpm build

      - run: sudo apt-get install -y --no-install-recommends imagemagick
      - run: 'convert logo: -resize 256x256 output.png'
      - name: Run upload-artifact-wiki
        id: upload-artifact-wiki
        uses: ./
        with:
          path: output.png
      - uses: int128/comment-action@v1
        with:
          update-if-exists: replace
          post: |
            ## :sparkles: Uploaded artifact
            <img width="128" src="${{ steps.upload-artifact-wiki.outputs.url }}/output.png">

  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm biome check --fix
      - uses: int128/update-generated-files-action@v2
